/* ADD FORM */
.beneBox {
  padding: 5px;
}
.beneForm {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
}
.beneAddBtn {
  padding: 2px;
  background-color: #7ed957;
  border-radius: 5px;
}


/* BENEFICIARY LIST */
.beneficiary2 {
  width: 100%;
}
.beneListBox {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  background-color: #7ed7;
  border: 5px groove #7ed2;
  border-radius: 10px;
}
.beneName {
  margin: 5px;
}
.beneImg {
  width: 200px;
  height: 200px;
}
.benePhoto {
  display: flex;
}
.image {
  margin-right: 15px;
}
.details {
  font-size: large ;
}
.beneWebsite {
  color: blue;
}
.beneEditBtn {
  background-color: #ffd278;
  padding: 2px;
  border-radius: 5px;
}



@media only screen and (min-width: 556px) {
  
  
}



@media only screen and (min-width: 991px) {


}