.donation-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.donation-row img {
  width: 100px;
}

/* add donation form */
.donation-form-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.donation-details h4 {
  text-align: center;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  color: #ff914d;
  margin-bottom: 5px;
}
.donation-details p,
.donation-fields p {
  margin: 2px 0;
  font-size: 13px;
}
.donation-img {
  width: 350px;
  height: 180px;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.donation-img > img {
  width: 100%;
  object-fit: cover;
}
.donation-details,
.donation-fields {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}
.donation-details > div,
.donation-fields > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2px 0;
}
.donation-details > div > p:first-child,
.donation-fields > div > p:first-child {
  width: 35%;
  text-align: left;
  font-weight: 500;
  color: rgb(65, 65, 65);
}
.donation-details > div > p:last-child {
  padding-left: 20px;
}
.donation-details > div > p:last-child,
.donation-fields > div > input:last-child,
.donation-fields > div > select:last-child,
.donation-fields > div > p:last-child {
  width: 65%;
  text-align: left;
  padding: 1px 5px;
  font-size: 13px;
}
.donation-fields h4 {
  width: 100%;
  text-align: center;
  border-top: 1px solid #a6d392;
  padding-top: 10px;
  margin-bottom: 10px;
  color: #505050;
}
.donation-fields > div input,
.donation-fields > div select {
  outline: none;
  border: 1px solid #c5c5c5;
}
.donation-form .btn-box {
  padding-top: 10px;
  border-top: 1px solid #a6d392;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
