.loginBox {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    border: 5px ridge #a0bde0;
    width: fit-content;
    background-color: #a9bfd4;
}
.eMail, .password, .loginBtn {
  margin: 5px;
}
.logIn {
  padding: 2px;
}
.loginErrMsg {
  color: red;
}
