.loginBox {
  margin: 20px auto;
  padding: 25px;
  border: 1px solid #c4c4c4;
  max-width: 500px;
  background-color: #ecffe3;
  border-radius: 15px;
}
.loginBox > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.loginBox > div > div:first-child {
  width: 30%;
  font-weight: 700;
  font-size: 14px;
  color: #464646;
}
.loginBox input {
  padding: 5px;
  width: 70%;
}
.loginBox > div > div:last-child {
  width: 100%;
  font-size: 12px;
  padding-left: 30%;
  margin-bottom: 5px;
}
.eMail,
.password,
.loginBtn {
  margin: 5px;
}
.logIn {
  padding: 2px;
}
.loginBox .loginErrMsg {
  color: red;
  width: 100%;
  text-align: center;
}
