* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navBox {
    margin-left: 10px;
    display: flex;
    justify-content:center;
}
.navBtn {
    background-color:  #7ed957;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.logoutBox {
    display: flex;
    justify-content: space-around;
}
.spanName {
    display: flex;
}
.spanName h2 {
    padding-left: 10px;
}
.name {
    color: #ff914d;
    padding-bottom: 10px;
}
.logout {
    background-color: #ff914d ;
}

@media only screen and (min-width: 556px) {
    .logoutBox {
        width: 100%;
        justify-content: space-between;
    }
    .spanName {
        margin-left: 120px;
    }
    .logoutNav {
        margin-right: 5px;
    }
    
}



@media only screen and (min-width: 991px) {

  
}