.navBox {
  background-color: #ececec;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navBox > div:first-child {
  display: flex;
  flex-wrap: wrap;
}
.navBtn {
  background-color: #7ed957;
  margin: 5px;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
}
.navBtn:hover {
  background-color: #ff914d;
}
.logoutBox {
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.spanName {
  font-weight: 700;
  color: #ff914d;
  display: flex;
  align-items: center;
  margin: none;
}
.name {
  color: #ff914d;
}
.logout {
  background-color: #ff914d;
  margin-left: 10px;
}

@media only screen and (min-width: 556px) {
}

@media only screen and (min-width: 991px) {
}
